/* Estilos para la sección "Casos de Estudio" */
header {
    background-color: #e67e22;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
